  * {
    box-sizing: border-box;
    color:#333333;
    }
   
  .container {
    background-color: #EEEEEE;
    border: solid 1px #EEEEEE;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 3%;
    padding: 2%;
    }

  .page-title {
    margin-left: 15em;
    }

  .date-wrapper {
    margin-left: 35em;
    margin-bottom: 1em;
    }
  
  .definition-block {
    margin-left: 25em;
    margin-bottom: 1em;
    font-size: large;
    }
  .abstarct-block {
    border: solid 2px #E1E1E1;
    margin-left: 4em;
    margin-right: 4em;
    }
  
  .image-block {
    border: solid 2px #E1E1E1;
    margin-left: 4em;
    margin-right: 4em;
    margin-top: 1%;
    }

  .aristotle-img {
    height: 305px;
    width: 286px;
    border-radius: 151px; 
    margin-left: 25em;
    }

  .caption-container {
    border: solid 2px #E1E1E1;
    background-color: #DDDDDD;
    margin-left:0.2em;
    margin-right: 0.2em;
    margin-bottom: 0.1em;
    padding: 0.5em;
    padding-left: 25em;    
    }

  .list-block {
    margin-left: 5em;
    margin-right: 5em;
    align-content: center;
    margin-top: 2%;
    }
  
  .list-title {
    font-size: 20px;
    }

  .Wikipedia-ref {
    color: blue;
    text-decoration: none;
    }

  .anchor-header {
    margin-left: 25em;
    }